.grid {
  display: none;
  gap: var(--grid-gap);
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-areas:
    "depart depart depart depart depart depart depart depart forget forget forget forget"
    "kits kits kits kits inventaire inventaire inventaire inventaire alertes alertes alertes alertes"
    "dispo dispo dispo dispo dispo dispo dispo dispo dispo dispo dispo dispo";
}
@media (min-width: 768px) {
  .grid {
    display: grid;
  }
}